<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>ADMIN PAGE</h1>
        <p class="lead">조회 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/admin/members">회원 목록</a>
            <a class="btn btn-lg btn-secondary" href="/admin/orders">주문 내역</a>
        </p>
        <p class="lead">상품 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/admin/items/types">상품 등록</a>
            <a class="btn btn-lg btn-dark" href="/admin/items">상품 목록</a>
        </p>
        <p class="lead">관리 기능</p>
        <p>
<!--            <a class="btn btn-lg btn-info" href="/admin/categories/new">카테고리 등록</a>-->
            <a class="btn btn-lg btn-info" href="/admin/categories">카테고리 목록</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>