<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <form name="dtypeForm" class="form-inline" >
            <div class="form-group mx-sm-1 mb-2">
<!--                <label for="category">상품 분류</label>-->
<!--                <select name="categoryId" id="category" class="form-control" th:onchange="'javascript:changeCategory()'">-->
<!--                    <option value="">분류선택</option>-->
<!--                    <option th:each="category : ${categories}"-->
<!--                            th:if="${category.parent == null}"-->
<!--                            th:selected="${category.name == selectCategory}"-->
<!--                            th:value="${category.name}"-->
<!--                            th:text="${category.koName}" />-->
<!--                </select>-->
            </div>
        </form>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>카테고리</th>
                <th>카테고리명</th>
                <th>상위 카테고리</th>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.id}"></td>
                <td th:text="${category.name}"></td>
                <td th:text="${category.koName}"></td>
                <td th:text="${category.parent?.name}"></td>
<!--                <td>-->
<!--                    <a href="#" th:href="@{/admin/items/{type}/{id}/edit (type=${item.dtype}, id=${item.id})}"-->
<!--                       class="btn btn-primary" role="button">수정</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
</script>
</html>