<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <div>
            <form th:if="${session.auth == 'ROLE_ADMIN'}" th:object="${orderSearch}" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" th:field="*{memberId}" class="formcontrol" placeholder="회원명"/>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select th:field="*{orderStatus}" class="form-control">
                        <option value="">주문상태</option>
                        <option th:each=
                                        "status : ${T(jpabook.jpashop.common.domain.OrderStatus).values()}"
                                th:value="${status}"
                                th:text="${status}">option
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>회원 아이디</th>
                <th>대표상품 이름</th>
                <th>대표상품 주문가격</th>
                <th>대표상품 주문수량</th>
                <th>주문상태</th>
                <th>일시</th>
                <th>배송상태</th>
                <th>배송변경</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${orders}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.member.realId}"></td>
                <td th:text="${item.orderItems[0].item.name}"></td>
                <td th:text="${item.orderItems[0].orderPrice}"></td>
                <td th:text="${item.orderItems[0].count}"></td>
                <td th:text="${item.status}"></td>
                <td th:text="${item.orderDate}"></td>
                <td th:if="${item.status.name() != 'CANCEL'}" th:text="${item.delivery.status}"></td>
                <td th:unless="${item.status.name() != 'CANCEL'}"></td>
                <td>
                    <a th:if="${item.delivery.status == null
                            and item.status.name() == 'ORDER'}" href="#"
                       th:href="'javascript:delivery('+${item.delivery.id}+',' + '\''+ 'READY' + '\'' + ')'"
                       class="btn btn-danger">준비</a>

                    <a th:if="${item.delivery.status != null and item.delivery.status.name() == 'READY'
                            and item.status.name() == 'ORDER'}" href="#"
                       th:href="'javascript:delivery('+${item.delivery.id}+','  + '\''+ 'COMP' + '\'' + ')'"
                       class="btn btn-danger">완료</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    function cancel(id) {
        if (confirm("주문을 취소하시겠습니까?")) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/orders/" + id + "/cancel");
            document.body.appendChild(form);
            form.submit();
        }
    }

    function delivery(id, status) {
        if (confirm("배송 상태를 변경하시겠습니까?")) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/admin/orders/delivery/" + id);

            var input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "status");
            input.setAttribute("value", status);

            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
</html>