<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <form name="dtypeForm" class="form-inline" >
            <div class="form-group mx-sm-1 mb-2">
                <label for="category">상품 분류</label>
                <select name="categoryId" id="category" class="form-control" th:onchange="'javascript:changeCategory()'">
                    <option value="">분류선택</option>
                    <option th:each="category : ${categories}"
                            th:if="${category.parent == null}"
                            th:selected="${category.name == selectCategory}"
                            th:value="${category.name}"
                            th:text="${category.koName}" />
                </select>
            </div>
        </form>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>분류</th>
                <th>상품명</th>
                <th>가격</th>
                <th>재고수량</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:if="${item.dtype == 'A'}">음반</td>
                <td th:if="${item.dtype == 'B'}">도서</td>
                <td th:if="${item.dtype == 'M'}">영화</td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td>
                    <a href="#" th:href="@{/admin/items/{type}/{id}/edit (type=${item.dtype}, id=${item.id})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    function changeCategory() {
        var category = document.getElementById("category").value;

        var form = document.createElement("form");
        form.setAttribute("method", "get");
        form.setAttribute("action", "/admin/items");

        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "category");
        input.setAttribute("value", category);

        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>