<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:action="@{/admin/items/new}" th:object="${form}" method="post">
        <input type="hidden" name="dtype" th:value="${dtype}">
        <div class="form-group">
            <label th:for="name">상품명</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">가격</label>
            <input type="number" th:field="*{price}" class="form-control"
                   placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="stockQuantity">수량</label>
            <input type="number" th:field="*{stockQuantity}" class="formcontrol" placeholder="수량을 입력하세요">
        </div>

        <!-- BOOK -->
        <div th:if="${dtype == 'B'}" class="form-group">
            <label th:for="author">저자</label>
            <input type="text" th:field="*{author}" class="form-control"
                   placeholder="저자를 입력하세요">
        </div>
        <div th:if="${dtype == 'B'}" class="form-group">
            <label th:for="isbn">ISBN</label>
            <input type="text" th:field="*{isbn}" class="form-control"
                   placeholder="ISBN을 입력하세요">
        </div>

        <!-- ALBUM -->
        <div th:if="${dtype == 'A'}" class="form-group">
            <label th:for="artist">아티스트명</label>
            <input type="text" th:field="*{artist}" class="form-control"
                   placeholder="아티스트명을 입력하세요">
        </div>
        <div th:if="${dtype == 'A'}" class="form-group">
            <label th:for="etc">etc</label>
            <input type="text" th:field="*{etc}" class="form-control"
                   placeholder="기타 설명을 입력하세요">
        </div>

        <!-- MOVIE -->
        <div th:if="${dtype == 'M'}" class="form-group">
            <label th:for="director">감독명</label>
            <input type="text" th:field="*{director}" class="form-control"
                   placeholder="감독명을 입력하세요">
        </div>
        <div th:if="${dtype == 'M'}" class="form-group">
            <label th:for="actor">출연</label>
            <input type="text" th:field="*{actor}" class="form-control"
                   placeholder="출연 배우를 입력하세요">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>